.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.table-container {
    margin: 25px;
    width: 75%;
    height: 55%;
}

.table {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    border: 2px solid black;
    padding: 10px;
    height: 75%;
    overflow-y: scroll;
    background-color: white;
}

th,
td {
    border-bottom: 1px solid black;
    text-align: center;
}

.btn-container {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.next-page-btn {
    border-radius: 5px;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
