.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.table-container{
margin: 25px;
width: 75%;

}

.table{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    padding: 10px;
    height: 75%;
    overflow-y: scroll;
    background-color: white;
}

 th,td{
    border-bottom: 1px solid black;
    text-align: center;
}

/* .btn-container{

} */

.email-form{

/* display: flex;
justify-content: center;
align-items: center; */
margin-top: 10px;
background-color: white;
border: 2px solid black;
display: flex;
justify-content: center;
align-items: center;
}