.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-form {
    border: 2px solid black;
    padding: 10px;
    background-color: white;
}

.login-header {
    text-align: center;
}

.cred-input-container {
    padding-bottom: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cred-input{
    border-radius: 20px;
    width: 250px;
    border-color: gray;
    height: 10px;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.sign-in-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

a {
    text-decoration: none;
}

.login-btn {
    border-radius: 5px;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

