.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-form{
    border: 2px solid black;
    padding: 10px;
}

.login-header{
    text-align: center;
}

.login-input{

}

.cred-input{
    padding-bottom: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sign-in{
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-btn{

}

a{
    text-decoration: none;
}
