<div class="body">
    <div *ngIf="isVisible">
        <form class="email-form">
            <label for="user-email">Your Email: </label>
            <input name="user-email" placeholder="Your Email" type="text" #userEmail />
            <label for="at-email"> Athletic Trainer Email:</label>
            <input name="at-email" placeholder="Your Atletic Trainer Email" type="text" #trainerEmail />
            <label for="form-upload">Upload PORM Form:</label>
            <input name="form-upload" type="file" multiple #injuryForm />
            <button (click)="setEmail(userEmail, trainerEmail, injuryForm)">Submit!</button>
        </form>
    </div>
    <!-- When form is submitted add confirmation text -->
</div>
