.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.name-input,
.username-input,
.email-input,
.password-input {
    border-radius: 20px;
    width: 250px;
    border-color: gray;
    height: 10px;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.sign-up-form {
    border: 2px solid black;
    padding: 10px;
    background-color: white;
}

.user-input-container {
    padding-bottom: 5px;
}

.create-user-btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#submit-button {
    border-radius: 5px;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.sign-up-header {
    text-align: center;
}
