<div class="container">
    <div class="sign-up-form">
        <div class="sign-up-header">
            <h3>Sign Up</h3>
        </div>
        <div class="user-input-container">
            <input type="text" class="name-input" placeholder="Full Name: " #name required />
        </div>

        <div class="user-input-container">
            <input type="text" class="username-input" placeholder="Username: " #username required />
        </div>

        <div class="user-input-container">
            <input type="text" class="password-input" placeholder="Password: " #password required />
        </div>

        <div class="user-input-container">
            <input type="email" class="email-input" placeholder="Email: " #email required />
        </div>

        <div class="create-user-btn-container">
            <input type="button" (click)="createAccount(username, password, email, name)" id="submit-button" value="Create Account">
        </div>
    </div>
</div>
